# NUMPY

In [ ]:
# It is also a data structure like list, tuple, set .i.e a collection of element's. As already there are list, tuple etc 
# then why there iis need of Numpy -- generally complex operation, scientific operation, statistic's , boolean algebra iske
# jo examples hai, expression usko solve karnekeliye Numpy is necessary. It has many built in functionalities -- eg SD, mean
# mode, median, wo hum easily calculate kar sakte hai -- bcz numpy main wo already code likhake rakha hai.
# In short numpy complex mathematical problem/ expression ko solve karnekeliye Numpy built hua hai.
# Fullform of Numpy is Numerical Python.
# Numpy is faster than list, tuple. Compplex Operation's can be perform fastly with the help of Numpy -- Why we use Numpy?
# It is faster because it is lightweight so consume less memory, It is written(built) in "C" language which is faster.
# List and tuple main hume controll nahi rehta ki exactally kitne bytes ka element banana hai but Numpy we can specify for 
# aapka data two digit hai to hum specify kar sakte hai ki usko jo memory space allocate hoga wo sum bit ka allocate hoga.
# isase equivalent block of memory create hoti hai.
# It's operation's are similar to operation's om list and tuple -- It is an also data structure like that 
# Numpy pandas ke sath aa jata hai inbuild so no need to install it seperately
#

In [1]:
pip install numpy

Requirement already satisfied: numpy in c:\users\sanke\anaconda3\lib\site-packages (1.21.5)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import numpy as np

In [3]:
# How to create numpy array -- array is collection of similar type of data -- isme similar type ka data hota hai -- means 
# agar integer ka data hoga to sab integer type ka data hoga means homogenous type ka data
# How to create array
a = np.array([1,2,3,4,5,6,7])
a

array([1, 2, 3, 4, 5, 6, 7])

In [4]:
type(a) # nd means n dimesional array

numpy.ndarray

In [ ]:
# Jaise hum list, tuple only 1D create kar sakte hai but Numpy main hum we can create ND  -- N dimensional 1D, 2D, 3D jitne
# abhi dimension ka data create karna hai we can create with the help of numpy array
# Generally numpy iis used for matrix calculation
# Inbuild operations are maximum in numpy

In [5]:
# just like list we can access elements of numpy using indexing
a[0]

1

In [2]:
# How to create two dimensional array containing row's and column
d = np.array([[1,2,3,4],[5,6,7,8]])
d

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [4]:
d.shape #indicate that there are two column's and four column's

(2, 4)

In [7]:
d.dtype # to see the data type of the values -- usme konsa data wo dekhane keliye -- show usme integer data hai
# it shows ek element main kitna memory occupy kiya hai wo dikhata hai

dtype('int32')

In [8]:
# agar item size dekhana hai ki kitne byte ka hai then
d.itemsize  # 1 byte = 8 bit  so 32 bit means 4 bytes

4

In [10]:
d.itemsize * d.size # This show's total number of bytes occupied

32

In [11]:
# we have controll over the size for eg we can specify here byte
b = np.array([[1,2,3,4],[5,6,7,8]],dtype = 'int8')
b # means size it occupied is controlled here

array([[1, 2, 3, 4],
       [5, 6, 7, 8]], dtype=int8)

In [12]:
b.dtype

dtype('int8')

In [13]:
b.itemsize # here one element ne 1 byte consume kiya

1

In [14]:
b.size * b.itemsize # total bytes consume by the array are 8 as one item consume one byte -- so in array memory consumption
# can be controlled which is not possible in the list

8

In [15]:
# let's see memory consume by the list
import sys
temp = [23,45,67,43,76,98,23]
sys.getsizeof(23) # so here one value consume 28 bytes that's why numpy array is preferable

28

In [16]:
sys.getsizeof(23)*len(temp) # so in total the entire list consume 196 bytes -- so list is heavy weight

196

In [ ]:
# 8 bit's means 1 byte for eg here 1  can be place in 1 byte also in 2 byte also in 3 bytes
1 byte = 0 0 0 0 0 0 0 1
2 byte = 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1
3 byte = 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 # This is unnecessary
# just bit's are increasing nothing else

In [17]:
# how to check dimension of array
b.ndim # so it gives result that 2 dimension data

2

In [ ]:
# DF is collection of row's and column with default indexes( indices ) but actual data column name and index line exclude
# karke jo bachata hai wo hota hai it's nothing but matrix isiko hum (only numerical data -- koi column name nahi kuch nahi
# usko column name kuch pata nahi hota ML algorithm ko wo just aapka jo numerical data hai uspehi algoeithm apply karta hai)
# ML algorithm ko pass karte hai. To ye numerical data of DF excluding column name and index is nothing but matrix(row & 
# colum) eg [1,2,3,4],[5,6,7,8] so here this is rows and columns to ispe operation karna hai to at the end hume numpy array
# -pehi operation karna padta hai agar nahi karte ho to ML algorithm usko inbuild convert karkehi leta hai.

In [20]:
# Manlo hume kuch data ko access karna hai for eg specific element hogaya row hogaya column hogaya to same like jaise list 
# mein DF main karte the same waisehi karenge
# Agar mujhe specific element chahiye to yahape row's and column wala funda hai eg b[row,column]
b[1,:] # 1st row humne access kiya agar

array([5, 6, 7, 8], dtype=int8)

In [23]:
# agar hume 0 row access karna hai to
b[1,2:]

array([7, 8], dtype=int8)

In [24]:
# Now I want to access 7 then how to do that
b[1,2]

7

In [25]:
# How to acess 4
b[0,3]

4

In [27]:
# if in list we pass one value as float and remaining as int then by default other value will be converted into float
d = [1,2,3,4,5.3,6]
f = np.array(d)
f

array([1. , 2. , 3. , 4. , 5.3, 6. ])

In [ ]:
# In numpy data will be always in the numerical form in the case of ML
# categorical data hai eg city hai to hum city ko encode karte hai number main, mmanlo gender hai to iskobhi hum encode 
# karte hai 1 or 0 -- to  always hum machine laerning ko hum numerical data dete hai -- categorical data nahi jata

In [28]:
# How to create 3D numpy array
a = np.array([[[1,2,3],[4,5,6],[7,8,9]]])
a

array([[[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]]])

In [29]:
a.ndim # so here three dimensional data create hua

3

In [31]:
a[0,1,1]

5

In [33]:
b = np.array([[[1,2,3],[4,5,6]],[[11,22,33],[7,8,9]]])
b

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[11, 22, 33],
        [ 7,  8,  9]]])

In [35]:
a[0,1,1] # because it is like box front square contain 1 st matrix and backside box contain 2nd matrix
# front square 1 st matrix contain 1,2,3,4,5,6 and back square 2nd matrix contain 11,22,33,7,8,9 
# so index of front matrix is 0 and back matrix is 1
# index of rows inside first matrix is 0 and 1 while index of column's are 0,1,2
# FOR EG. [index1, index2, index3]  -- index1 indicate position matrix, index2 indicate position rows, 
# index3 indicate position column
# so if I want to access 5 then how I will access it
b[0,1,1]

5

In [36]:
# How to access 9
b[1,1,2]

9

In [38]:
# Generally jab kabhi hume kuch matrix calculation karna hai tab kuch inbuild matrix rehate hai wo useful rehate hai jaise
# manlo aapko once wala, zeros wala ya identity matrix create karna hai to ye bahot useful hota hai kabhi kabhi
# agar koi DF hai usko transform karna hai ya multiply karna hai matrix se tab use hota hai
# for eg
a = np.ones((2,2)) # 2 dimensional data
a

array([[1., 1.],
       [1., 1.]])

In [39]:
# by default ye float wala de raha hai but mujhe integer wala chahiye then how
a = np.ones((2,2),dtype='int')
a

array([[1, 1],
       [1, 1]])

In [41]:
# How to do three dimension
a = np.ones((3,2,2),dtype='int')
a

array([[[1, 1],
        [1, 1]],

       [[1, 1],
        [1, 1]],

       [[1, 1],
        [1, 1]]])

In [42]:
# mujhe once wala matrix chahiye 4 dimensionka then how
a = np.ones((4,4),dtype='int')
a

array([[1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1]])

In [43]:
# agar mujhe 3 by 3 ka matrix chahiye or sabme 20 values chahiye then how
np.full((3,3),20)

array([[20, 20, 20],
       [20, 20, 20],
       [20, 20, 20]])

In [44]:
# Generally numpy main integer or flaot ka hi data rehata hai
# Agar aapko koi random wala matrix chahiye to 
np.random.rand(3,3)

array([[0.12203719, 0.41873767, 0.70927747],
       [0.3074153 , 0.53712888, 0.4874955 ],
       [0.53751528, 0.81207208, 0.46052553]])

In [45]:
# what if I want matrix in the integer using random
np.random.randint(2,3,size=(3,3))

array([[2, 2, 2],
       [2, 2, 2],
       [2, 2, 2]])

In [46]:
# Identity matrix create karna hai to np.identity
np.identity(4)

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [47]:
a+1 # like this we can perform operation on the matrix so the value of entire matrix changes.

array([[2, 2, 2, 2],
       [2, 2, 2, 2],
       [2, 2, 2, 2],
       [2, 2, 2, 2]])

In [48]:
temp = np.random.randint(200,600,size=(3,3))
temp

array([[313, 220, 582],
       [517, 560, 520],
       [221, 539, 271]])

In [49]:
# how to get max value from the above matrix -- applying statistic's on matrix
np.max(temp)

582

In [50]:
np.min(temp) # to get min

220

In [51]:
np.sum(temp) # to get sum

3743

In [52]:
np.argmax(temp)

2

In [53]:
# mainly numpy main jyada use hone wala function hai wo hai shape -- reshape karna 
# suppose temp matrix ka size 3 by 3 hai to iska multiplication ka jitnabhi hota hai for 3*3 = 9 hota hai to iske 
# combination main iska reshape ho sakta hai means what one by nine(1,9) , nine by one(9,1) ho sakta hai -- how to do that
# suppose mujhe one by nine reshape karna hai then how
temp.reshape(1,9)

array([[313, 220, 582, 517, 560, 520, 221, 539, 271]])

In [54]:
# create (9,1)
temp.reshape(9,1)

array([[313],
       [220],
       [582],
       [517],
       [560],
       [520],
       [221],
       [539],
       [271]])

In [55]:
# How to convert this array into list -- use type casting
list(temp) # now we can perform list operation's on it

[array([313, 220, 582]), array([517, 560, 520]), array([221, 539, 271])]

In [57]:
# arrange bhi kar sakte hai
a = np.arange(10)
a

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [58]:
# ab manlo mujhe element ka index chahiye -- suppose mujhe a main se 4 se greater element ka index chahiye not a element
np.where(a>4) # So in output I will get index of elements who are greater than 4 and not the element's itself

(array([5, 6, 7, 8, 9], dtype=int64),)

In [59]:
a = np.array([34,745,24,75,34,86,354,97,35,97])
a

array([ 34, 745,  24,  75,  34,  86, 354,  97,  35,  97])

In [60]:
np.where(a>45) # so in output it is giving the index number and not the value's

(array([1, 3, 5, 6, 7, 9], dtype=int64),)

In [61]:
import pandas as pd

In [63]:
df = pd.DataFrame({'name':['sdf','asdf','asdf'],
                  'id':[101,102,103]})
df

   name   id
0   sdf  101
1  asdf  102
2  asdf  103

In [66]:
# Now isko mujhe ek numpy array karna hai then 
p = pd.Series([11,2,3],name = 'test')

In [67]:
pd.concat([df,p],axis=1)

   name   id  test
0   sdf  101    11
1  asdf  102     2
2  asdf  103     3

In [ ]:
# Now that will be converted into Series
temp = pd.concat(np.array(3))

In [68]:
temp = np.array([45,754,35])

In [69]:
temp

array([ 45, 754,  35])

In [70]:
pd.Series(temp,name='testd')

0     45
1    754
2     35
Name: testd, dtype: int32

In [72]:
pd.concat([df,pd.Series(temp,name='testd')],axis=1)

   name   id  testd
0   sdf  101     45
1  asdf  102    754
2  asdf  103     35

In [ ]:
# Numpy array ko humne pehale series main convert kiya fir usko concat kiya df